/* TODO: Add 'hit' animation on statusDiv change */
/* TODO: Change statusDiv to accept bg-color2 without breaking styling */
/* TODO: Figure out way to make linear gradient accept transition rules */

/* Color storage */
:root {
    --bg-color: rgb(233, 212, 189);
    --bg-color2: rgb(248, 202, 152);
    --border-color: rgb(159, 96, 23);
    --button-color: rgb(202, 191, 177);
    --button-highlight: rgba(255, 146, 3, 0.374);
    --accent-color: rgb(255, 218, 35);
    --win-color: rgb(114, 245, 116);
    --loss-color: rgb(255, 85, 85);
    --tie-color: rgba(193, 193, 193);
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bg-color);
    max-height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 3%;
    font-size: 210%;
}

img {
    max-width: 100%; 
    max-height: 100%;
}

main {
    display: grid;
    grid-template-rows: 14vh 38vh 10vh 14vh;
    margin: 5% auto;
    max-width: 90vw;
}

#buttons {
    border: 3px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: 2px;
    display: grid;
    grid-template-areas:
        "rock paper scissors"
        "shoot shoot shoot";
    background-color: var(--button-color);
    grid-template-columns: 1fr 1fr 1fr;
}

button:hover {
    background: linear-gradient(var(--accent-color) 0%, var(--button-highlight) 30%);
    background-color: var(--button-highlight);
    transition: all 1s ease-in-out;
}

/* 
Works with main.js
When the choice buttons are clicked, they will remain highlighted until another is clicked.
 */
.highlight-button {
    background-color: var(--button-highlight);
}

#rock {
    grid-area: rock;
}

#paper {
    grid-area: paper;
}

#scissors {
    grid-area: scissors;
}

#shoot {
    grid-area: shoot;
}

/* This area displays what the player and computer chose */
#court {
    display: flex;
    justify-content: center;
    margin: 2px 0px;
}

/* The court is divided into two half courts, player on left and computer on right */
.half-court {
    border: 3px solid var(--border-color);
    background-color: var(--bg-color2);
    border-radius: 10px;
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    text-align: center;
    margin: 0px 2px;
}

/* Prevents images in halfcourts from stretching */
.contain {
    object-fit: contain;
    height: 70%;
    margin: 0 auto;
}

.half-court h2,
.half-court p {
    width: 100%;
}

/* status-div displays whether the player won, lost, or tied */
#status-div {
    border: 3px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#status {
    font-size: 250%;
    text-align: center;
}

.status-win {
    background-color: var(--win-color);
}

.status-loss {
    background-color: var(--loss-color);  
}

.status-tie {
    background-color: var(--tie-color);
}

.status-reset {
    background-color: rgba(255, 255, 255, 0);
}

#stats {
   border: 3px solid var(--border-color);
   border-radius: 10px;
   background-color: var(--bg-color2);
   margin: 2px 0px;
   position: relative;
}

#stats ul {
    margin: 2%;
}

/* Reset button */
#stats button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 3px;
}

footer {
    text-align: center;
}

@media (min-width: 500px) {
    main {
        font-size: 150%;
    }    
}

@media (min-width: 900px) {
    main {
        max-width: 800px;
    }
}